.header-texte {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 700;
  padding: 165px 175px 165px 175px;
}

.header {
  background-image: url(../img/faune.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 40px 0px 0px #ffb500;
}
