* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-image: url(../img/Pattern.jpg);
}

p {
  font-family: "Raleway";
  font-size: 16px;
}

img {
  width: 100%;
}
